<a href="https://colab.research.google.com/github/yakupusame/Credit-Card-Fraud/blob/master/Credit_Card_Fraud(Trying%20Logistic%20Regression%20without%20under_sampling).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('creditcard.csv')

In [3]:
df.shape

(284807, 31)

In [4]:
df.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62      0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69      0
2   1.0 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66      0
3   1.0 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50      0
4   2.0 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99      0

[5 rows x 31 columns]

In [5]:
from sklearn.preprocessing import RobustScaler
scaler = RobustScaler()

In [6]:
scaled_time = df['Time']
scaled_amount = df['Amount']
df.drop(['Time','Amount'],axis=1,inplace=True)

In [7]:
df.head()

         V1        V2        V3        V4  ...       V26       V27       V28  Class
0 -1.359807 -0.072781  2.536347  1.378155  ... -0.189115  0.133558 -0.021053      0
1  1.191857  0.266151  0.166480  0.448154  ...  0.125895 -0.008983  0.014724      0
2 -1.358354 -1.340163  1.773209  0.379780  ... -0.139097 -0.055353 -0.059752      0
3 -0.966272 -0.185226  1.792993 -0.863291  ... -0.221929  0.062723  0.061458      0
4 -1.158233  0.877737  1.548718  0.403034  ...  0.502292  0.219422  0.215153      0

[5 rows x 29 columns]

In [8]:
scaled_amount = pd.DataFrame(scaled_amount)
scaled_time = pd.DataFrame(scaled_time)

In [9]:
scaled_amount=scaler.fit_transform(scaled_amount)

In [10]:
scaled_time=scaler.fit_transform(scaled_time)

In [11]:
df['scaled_time']= scaled_time
df['scaled_amount']= scaled_amount

In [12]:
df.head()

         V1        V2        V3  ...  Class  scaled_time  scaled_amount
0 -1.359807 -0.072781  2.536347  ...      0    -0.994983       1.783274
1  1.191857  0.266151  0.166480  ...      0    -0.994983      -0.269825
2 -1.358354 -1.340163  1.773209  ...      0    -0.994972       4.983721
3 -0.966272 -0.185226  1.792993  ...      0    -0.994972       1.418291
4 -1.158233  0.877737  1.548718  ...      0    -0.994960       0.670579

[5 rows x 31 columns]

In [13]:
x = df.loc[:, df.columns != 'Class']
y = df['Class']

In [22]:
y.tail(10)

284797    0
284798    0
284799    0
284800    0
284801    0
284802    0
284803    0
284804    0
284805    0
284806    0
Name: Class, dtype: int64

In [19]:
x.head()

         V1        V2        V3  ...       V28  scaled_time  scaled_amount
0 -1.359807 -0.072781  2.536347  ... -0.021053    -0.994983       1.783274
1  1.191857  0.266151  0.166480  ...  0.014724    -0.994983      -0.269825
2 -1.358354 -1.340163  1.773209  ... -0.059752    -0.994972       4.983721
3 -0.966272 -0.185226  1.792993  ...  0.061458    -0.994972       1.418291
4 -1.158233  0.877737  1.548718  ...  0.215153    -0.994960       0.670579

[5 rows x 30 columns]

In [15]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=123)

In [23]:
print(x_train)
print(y_train)
print(x_test)
print(y_test)

              V1        V2        V3  ...       V28  scaled_time  scaled_amount
9057    1.223528  0.726064 -0.192303  ...  0.030803    -0.846356      -0.293440
197407 -1.531257 -0.845410 -0.661207  ... -0.082430     0.555810      -0.167819
257714  2.302551 -1.410263 -1.301974  ... -0.060548     0.864895      -0.027947
201302  1.809691  0.232969  0.312680  ... -0.035744     0.577215      -0.167819
167965 -2.449361  2.602426 -2.648017  ... -0.025988     0.402977      -0.293440
...          ...       ...       ...  ...       ...          ...            ...
192476  2.085321 -1.119472 -0.260414  ... -0.054809     0.528930       0.006847
17730  -1.039001  0.950070  0.389899  ...  0.062423    -0.655823      -0.223713
28030   1.129333  0.471653  0.657500  ...  0.021002    -0.585921      -0.139873
277869  1.636784 -0.560857 -1.944589  ... -0.001004     0.977631       2.542723
249342  1.906410 -0.531680 -1.175688  ... -0.060711     0.818513       0.590233

[199364 rows x 30 columns]
9057      0
197407    0
257714    0
201302    0
167965    0
         ..
192476    0
17730     0
28030     0
277869    0
249342    0
Name: Class, Length: 199364, dtype: int64
              V1        V2        V3  ...       V28  scaled_time  scaled_amount
73129  -0.623235  1.097949  0.748810  ...  0.089418    -0.348923       0.391253
229597  2.155748 -0.998223 -1.158978  ... -0.053375     0.720063       0.503039
220218  1.614893 -0.194953 -2.050402  ... -0.003519     0.674127       2.459303
198374  1.908756 -2.517443  0.277391  ... -0.036551     0.561214       0.838399
167980  2.120853 -1.048240 -1.895990  ... -0.074845     0.403071       1.002585
...          ...       ...       ...  ...       ...          ...            ...
64823   0.981634 -0.013797  0.702670  ...  0.016445    -0.392051      -0.172570
144933 -0.188338  0.753188  0.535544  ...  0.236026     0.021241       0.303780
31407  -0.959696  0.736918  1.722280  ...  0.062753    -0.567923       0.012436
28343   1.293597 -0.527259  0.659631  ...  0.012776    -0.584217      -0.097813
173170  1.936092 -1.068767 -1.469130  ... -0.001298     0.430914       1.368965

[85443 rows x 30 columns]
73129     0
229597    0
220218    0
198374    0
167980    0
         ..
64823     0
144933    0
31407     0
28343     0
173170    0
Name: Class, Length: 85443, dtype: int64

In [17]:
from sklearn.linear_model import LogisticRegression
classifier_logistic = LogisticRegression()
classifier_logistic.fit(x_train,y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [25]:
from sklearn.metrics import accuracy_score,confusion_matrix
y_pred_logistic = classifier_logistic.predict(x_test)
cm = confusion_matrix(y_pred_logistic,y_test)
print(cm)

[[85264    64]
 [   19    96]]

In [26]:
accuracy_score(y_pred_logistic,y_test)

0.9990285921608558

In [18]:
#Under sampling method 1
from imblearn.under_sampling import NearMiss
#x = df.iloc[: , :-1].values
#y = df.iloc[ : , -1].values

#nm = NearMiss()
#x_resample,y_resample = nm.fit_sample(x,y)

#print(y_resample.shape)
#print(x_resample.shape)

/usr/local/lib/python3.6/dist-packages/sklearn/externals/six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)